* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard__title {
  margin-bottom: 2vw;
  font-size: calc(20px + 2vw);
  color: #396e50;
}

.keyboard__textarea {
  width: 97%;
  max-width: 100%;
  font-size: calc(12px + 0.5vw);
  background-color: #cedade;
}

.keyboard__wrapper {
  width: 97%;
  margin: 3vw 0;
  padding: 0.8vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1vw;
  background-color: #cedade;
  border: 1px solid #000000;
  border-radius: 4px;
}

.keyboard__text {
  font-size: calc(14px + 0.5vw);
  font-weight: bold;
  text-align: center;
}

.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5vw;
}

.keyboard__btn {
  width: 5.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  font-weight: bold;
  background-color: #8fe3b3;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.keyboard__btn:hover {
  background-color: #3aa669;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 10px #2e543f;
}

.keyboard__btn.active {
  transform: scale(0.9);
  opacity: 0.8;
  background-color: #3aa669;
  transition: 0.3s ease-in-out;
}

.keyboard__btn[data-keycode=MetaLeft] {
  background: no-repeat center url("./assets/icons/windows.svg") #8fe3b3;
  background-size: 30%;
}

.keyboard__btn[data-keycode=Backspace],
.keyboard__btn[data-keycode=CapsLock],
.keyboard__btn[data-keycode=Enter] {
  width: 14vw;
}

.keyboard__btn[data-keycode=Tab] {
  width: 9vw;
}

.keyboard__btn[data-keycode=ShiftLeft] {
  width: 13vw;
}

.keyboard__btn[data-keycode=ArrowUp],
.keyboard__btn[data-keycode=ShiftRight],
.keyboard__btn[data-keycode=ControlLeft],
.keyboard__btn[data-keycode=ControlRight],
.keyboard__btn[data-keycode=ArrowLeft],
.keyboard__btn[data-keycode=ArrowDown],
.keyboard__btn[data-keycode=ArrowRight] {
  width: 9vw;
}

.keyboard__btn[data-keycode=Space] {
  width: 34vw;
}